<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="dateTimeProvider" class="de.telran.printer.DateTimeProvider"/>
    <bean id="outputPrinter" class="de.telran.printer.OutputPrinter"/>
    <bean id="app" class="de.telran.printer.App">
        <constructor-arg ref="dateTimeProvider"/>
        <constructor-arg ref="outputPrinter"/>
    </bean>


</beans>
